*.pyc
venv/share/jupyter/labextensions/jupyterlab-plotly/static/third-party-licenses.json
venv/share/jupyter/nbextensions/jupyterlab-plotly/extension.js
venv/share/jupyter/nbextensions/jupyterlab-plotly/index.js
venv/share/jupyter/nbextensions/jupyterlab-plotly/index.js.LICENSE.txt
venv/share/man/man1/ipython.1
venv/share/man/man1/ttx.1
